<html>
    <head>
        
        <link rel="stylesheet" href="static/font-awesome.css" />
        <link rel="stylesheet" href="static/styles.css" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/static/filteromatic.js"></script>
        <script>
        $(document).ready(function(){
            
           get_replacements();


            });

</script>
        <style>

        </style>
    </head>
    <body>
        <p class="tester">
            {{items}}
        </p>
        <p><span class='testitem'></span><span class='fom asterisk'></span></p>
        <p><span class='testitem'></span><span id='item'></span></p>

    </body>
</html>